<main class="main-content-confirmation">
    <section class="confirmation-section">
        <h2>Appointment</h2>
        <div class="confirmation-details">
            <p><strong>Pet Owner: </strong> {{user}} </p>
            <p><strong>Dog's Name:</strong> Sheba </p>
            <p><strong>Check-In:</strong> {{appointment.time}} </p>
            <p><strong>Check-out:</strong> 22 p.m. </p>
            <p><strong>Date:</strong> {{appointment.date}} </p>
        </div>

            <form action="{% url "petOwner:unassign_appointment" appointment.id %}" method="POST">
                {% csrf_token %}
                <button class="btn-cancel">Cancel Appointment</button><br>
            </form>
            
        <a href="{% url 'petOwner:dashboard' %}">
            <button class="btn">Back to my Appointments</button>
        </a>
    </section>
</main>