<main class="main-content">
    <section class="list-section">
        <h2> {{ petOwnerName }} Appointments</h2>
        <div class="event-list">

            {% for appointment in appointments %}
                <a href="">
                    <div class="event-item">
                        <p>Date: {{ appointment.date }}</p>
                        <p>Time: {{ appointment.time }}</p>
                    </div>
                </a>
            {% empty %}
                <p>You do not have appointments</p>
            {% endfor %}

        </div>
    </section>
</main>

<div>
    {% for appointment in appointments %}
    <div>
        {{ appointment.date }} <br>
        {{ appointment.time }} <br>
        {{ appointment.petOwner }}
        {{ appointment.petOwner }}


    </div>
    {% empty %}
        <p>You do not have appointments</p>
    {% endfor %}
</div> 