<main class="main-content">
    <div class="name-center">
        <h2>Hello {{ petOwnerName }}</h2>
        <form action="{% url "petOwner:logout" %}" method="POST">
            {% csrf_token %}
            <h3>Click <button>Here</button> to logout.</h3>
        </form>
        
    </div>
    <section class="list-section">
        <h2>Your Appointments</h2>
        <div class="event-list">

            {% for appointment in future_appointments %}

            <a href = {% url 'petOwner:appointment' appointment.id %}>
                    <div class="event-item">
                        <p>Date: {{ appointment.date }}</p>
                        <p>Time: {{ appointment.time }}</p>
                    </div>
                </a>

            {% empty %}
                <p>You do not have appointments</p>
            {% endfor %}

        </div>
    </section>
    <section class="list-section">
        <h2>Your past Appointments</h2>
        <div class="event-list">

            {% for appointment in past_appointments %}

                <div class="event-item">
                    <p>Date: {{ appointment.date }}</p>
                    <p>Time: {{ appointment.time }}</p>
                </div>

            {% empty %}
                <p>You do not have appointments</p>
            {% endfor %}

        </div>
    </section>
</main>
