<main class="main-content">
    <section class="list-section">
        <h2> {{ petOwnerName }} Appointments</h2>
        <div class="event-list">

            {% for appointment in future_appointments %}

                <div class="event-item">
                    <p>Date: {{ appointment.date }}</p>
                    <p>Time: {{ appointment.time }}</p>
                </div>

            {% empty %}
                <p>You do not have appointments</p>
            {% endfor %}

        </div>
    </section>
    <section class="list-section">
        <h2> {{ petOwnerName }} past Appointments</h2>
        <div class="event-list">

            {% for appointment in past_appointments %}

                <div class="event-item">
                    <p>Date: {{ appointment.date }}</p>
                    <p>Time: {{ appointment.time }}</p>
                </div>

            {% empty %}
                <p>You do not have appointments</p>
            {% endfor %}

        </div>
    </section>
</main>
