<main class="main-content">
    <div class="user-signup-container">
        <h2>{{ singup_or_login }}</h2>

        {% if request.user.is_authenticated %}
            <div>
                <form action="{% url "petOwner:logout" %}" method="POST">
                    {% csrf_token %}
                    <p>You are logged as {{ request.user.username }}.</p>
                    <button>Log out</button>
                </form>
            </div>
            {% comment %} <p>You are logged as {{ request.user.username }}. <a href="{% url "petOwner:logout" %}">Click here </a>to log out.</p> {% endcomment %}
        {% endif %}

        <form id="signup-form" action={{ form_action }} method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="signup-form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                    {{field}}

                    {% if field.help_text %}
                        <p class="help-text">{{field.help_text}}</p>
                    {% endif %}

                    {{ field.error }}

                </div>
            {% endfor %}
            {{ form.errors }}

            <button type="submit" class="signup-btn-submit">Send</button>
        </form>
    </div>
        {% include "global/partials/message.html" %}
</main>