<div class="signup-popup-overlay" id="signup-popup-overlay"></div>
<div class="signup-popup" id="signup-popup">
    <div class="signup-popup-header">
        <h2>Sign Up</h2>
        <button class="signup-close-btn" onclick="closeSignupPopup()">×</button>
    </div>
    <div class="signup-popup-content">
        <form id="signup-form" action="{% url "_register" %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="signup-form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                    {{field}}

                    {% if field.help_text %}
                        <p class="help-text">{{field.help_text}}</p>
                    {% endif %}

                    {{ field.error }}

                </div>
            {% endfor %}
            <button type="submit" class="signup-btn-submit">Sign Up</button>
        </form>
    </div>
</div>
        {% comment %} <form id="signup-form">
            {% for filed in form %}
                <div class="signup-form-group">
                    <field class="id_for_label"></field>
                    <input type="text" required>
                </div>

            {% endfor %}
            <div class="signup-form-group">
                <label for="last-name">Last Name</label>
                <input type="text" required>
            </div>
            <div class="signup-form-group">
                <label for="email">Email</label>
                <input type="email" required>
            </div>
            <div class="signup-form-group">
                <label for="password">Password</label>
                <input type="password"required>
            </div> 
            <button type="submit" class="signup-btn-submit">Sign Up</button>
        </form> {% endcomment %}