<main class="main-content-confirmation">
    <section class="confirmation-section">
        <h2>Confirmação de Agendamento</h2>
        <div class="confirmation-details">
            <p><strong>Person`s Name: </strong> {{dataConfirmation.name}} </p>
            <p><strong>Dog`s Name:</strong> {{dataConfirmation.dogName}} </p>
            <p><strong>Check-In:</strong> {{dataConfirmation.checkIn}} </p>
            <p><strong>Check-out:</strong> {{dataConfirmation.checkOut}} </p>
            <p><strong>Date:</strong> {{dataConfirmation.date}} </p>
        </div>
        <a href = {% url 'appointment:home' %}>
            <button>Back to Appointments</button>
        </a>
    </section>
</main>