<main class="main-content">
    <section class="list-section">
        <h2>Appointments</h2>
        <div class="event-list">
            {% for appointment in appointments %}
                <a href = {% url 'appointment:confirmation' appointment.id %}>
                    <div class="event-item">
                        <p>Data: {{ appointment.date }}</p>
                        <p>Horário: {{ appointment.time }}</p>
                    </div>
                </a>
            {% empty %}
                <h1>No Appointments available</h1> 
            {% endfor %}

        </div>
    </section>

    <section class="calendar-section">
        <h2>Calendário</h2>
        <div class="calendar-header">
            <button class="prev-month" onclick="changeMonth(-1)">Anterior</button>
            <span class="month-year" id="month-year"></span>
            <button class="next-month" onclick="changeMonth(1)">Próximo</button>
        </div>
        <table class="calendar" id="calendar">
            <thead>
                <tr>
                    <th>Dom</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Qua</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sáb</th>
                </tr>
            </thead>
            <tbody>
                <!-- The calendar will be made by JS -->
            </tbody>
        </table>
    </section>
</main>