{% load static %}
<main class="main-content-homePage">
    <div style="background-image: url('{% static 'home/images/dogHome.jpg' %}');"class="background-image">
        <a href = {% url 'appointment:home' %}>
            <button>Make an Appointment</button>
        </a>
    </div>
</main>
<section class="about-section">
    <h2>Your dog will have</h2>
    <div class="services">
        <div class="service">
            <div class="circle">Day care</div>
            <p>Your dog will spends the day at a dogPlay's house</p>

        </div>
        <div class="service">
            <div class="circle">Puppy play</div>
            <p>Your dog will play a lot here</p>

        </div>
        <div class="service">
            <div class="circle">Bath</div>
            <p>And he will come back home clean</p>

        </div>
    </div>
</section>